<div class="container" *ngIf="showTableFiscalEntities">
 
  <table
    class="table table-hover"
    [mfData]="data | dataFilterFiscalEntities : filterQueryId : filterQueryName : filterQueryNifCif : filterQueryTelephone : filterQueryEmail"
    #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage"
    [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder"
  >
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="id">ID</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryId"/>
      </th>
      <th>
        <mfDefaultSorter by="name">Name</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryName"/>
      </th>
      <th>
        <mfDefaultSorter by="nifcif">NIF/CIF</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryNifCif"/>
      </th>
      <th>
        <mfDefaultSorter by="tel">Telephone</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryTelephone"/>
      </th>
      <th>
        <mfDefaultSorter by="email">Email</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryEmail"/>
      </th>
	  <th style="width: 10%">
	   <mfDefaultSorter by="delete"></mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.nifcif}}</td>
      <td>{{item.telephone}}</td>	  
      <td>{{item.email}}</td>
	  <td  style="text-align:center">
		<button style="margin-right: 15px;" class="btn btn-success btn-xs" ><span class="glyphicon glyphicon-pencil" (click)="showFiscalEntityFunction(item.id)"></span></button>
		<button style="margin-right: 15px;" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
	  </td>	  
    </tr>
    </tbody>
    <tfoot>
	<tr>
      <td colspan="12"  style="text-align:center">
        <!--<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addcontact"  >Add contact&nbsp;<span class="glyphicon glyphicon-user"></span></button>-->
		<button class="btn btn-primary btn-md" (click)="showFiscalEntityFunction()">Add Fiscal Entity&nbsp;<span class="glyphicon glyphicon-briefcase"></span></button>
      </td>
    </tr>	
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<div class="container" *ngIf="showFiscalEntity">
		<div class="content">			
			<div class="row" style="padding:10px;">
						   <div class="col-sm-12">
								<div class="row" style="padding:10px;">
									<div class="col-sm-12">
										<form>
											<div class="panel panel-default">
											<div class="panel-heading">General Fiscal Entity data</div>
											<div class="panel-body">
												<div class="col-sm-6">
													<form>
														<div class="form-group">
															<label>NIF / CIF:</label>
															<input type="text" class="form-control" id="nifcif" placeholder="NIF/CIF" name="nifcif" [(ngModel)]="fiscalEntity.nifcif">
														</div>
														<div class="form-group">
															<label>Entity Name</label>
															<input type="text" class="form-control" id="name" placeholder="Entity name" name="name" [(ngModel)]="fiscalEntity.name">
														</div>
														<div class="form-group">
															<label>Telephone</label>
															<input type="text" class="form-control" id="telephone" placeholder="Telephone" name="telephone" [(ngModel)]="fiscalEntity.telephone">
														</div>
														<div class="form-group">
															<label>Email</label>
															<input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="fiscalEntity.email">
														</div>
													
														<div class="form-group">
															<label>Address</label>
															<div class="row" style="padding-right:10px;">
															<div class="col-sm-8">
															<!--<input type="text" class="form-control" id="address" placeholder="Address" value="{{contact.address['addressName']}}" readonly >-->
															<textarea class="form-control" rows="5" id="comment" style="resize:vertical" [value]="(fiscalEntity.address) ? (fiscalEntity.address['addressName'] + ',' + fiscalEntity.address['addressNumber'] + ',' + fiscalEntity.address['floorDoor'] + '\n' + fiscalEntity.address['postalcode'] + ',' + fiscalEntity.address['town'] + ',' + fiscalEntity.address['district'] + '\n' + fiscalEntity.address['province'] + ' (' +  fiscalEntity.address['country'] + ')') : ''" readonly></textarea>
															</div>
															<div class="col-sm-4">
															<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addaddress" (click)="resizeTrigger()">Address <span class="glyphicon glyphicon-globe"></span></button>
															</div>
															</div>
														</div>
														<div class="form-group">
															<div class="panel panel-default">
														    <div class="panel-heading">Shares</div>
														    <div class="panel-body">
																<table class="table table-hover">
																	<thead>
																	  <tr>
																		<th>Name</th>
																		<th>Percentage</th>
																		<th>Share Type</th>
																		<th>Share Date</th>
																	  </tr>
																	</thead>
																	<tbody>
																	  <tr *ngFor="let shares of fiscalEntity['share']; let i = index" data-toggle="modal" data-target="#showshare">
																		<td *ngIf="(shares.contact != null) ? true : false">{{shares.contact.firstname}}</td>
																		<td *ngIf="(shares.fiscalentityshared != null) ? true : false">{{shares.fiscalentityshared.name}}</td>
																		<td>{{shares.percentage}}</td>
																		<td>{{shares.sharetype}}</td>
																		<td>{{shares.date | date:'medium' }}</td>	
																	  </tr>													  
																	</tbody>
																 </table>															  
															</div>
															</div>	
														</div>
														
													</form>	   
												</div>	
												<div class="col-sm-4">
													<form>
														<div class="form-group">
															<label>Registration Date</label>
															<input type="date" class="form-control" id="registrationDate" name="registrationDate" [ngModel]="fiscalEntity.registrationDate | date:'yyyy-MM-dd'" (ngModelChange)="fiscalEntity.registrationDate=$event">
														</div>
														<div class="form-group">
															<label>Discharge Date</label>
															<input type="date" class="form-control" id="registrationDate" name="registrationDate" [ngModel]="fiscalEntity.registrationDate | date:'yyyy-MM-dd'" (ngModelChange)="fiscalEntity.registrationDate=$event">
														</div>
														<div class="form-group">
															<label>Observations</label>
															<textarea rows="4" cols="50" class="form-control" id="observations" placeholder="Observations" name="observations" [(ngModel)]="fiscalEntity.observations">
															<!--<input type="textarea" class="form-control" id="observations" placeholder="Observations" name="observations" [(ngModel)]="fiscalEntity.observations">-->
															</textarea>
														</div>
														<div class="form-group">
															<label>Commercial Name</label>
															<input type="text" class="form-control" id="commercialName" placeholder="Commercial Name" name="commercialName" [(ngModel)]="fiscalEntity.commercialName">
														</div>
														<div class="form-group">
															<label>ALEX ID</label>
															<input type="text" class="form-control" id="alexId" placeholder="ALEX ID" name="alexId" [(ngModel)]="fiscalEntity.aso_id_alex">
														</div>
														<div class="form-group">
															<label>IBAN</label>
															<input type="text" class="form-control" id="iban" placeholder="IBAN" name="iban" [(ngModel)]="fiscalEntity.iban">
														</div>	
													</form>	   
												</div>	
											</div>
											</div>											
										</form>
									</div>											
								</div>
						   </div>												   
			</div>	
				<button class="btn btn-success btn-lg" (click)="saveFiscalEntity(fiscalEntity.id)">Save Fiscal Entity&nbsp;<span class="glyphicon glyphicon-save"></span></button>			
		</div>
</div>

<div class="modal fade" id="showshare" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title custom_align" id="Heading">Share Details</h4>
			</div>
			
			<div class="modal-body"> 
				<div class="shareinfo">
					<div class="form-group">															
						<div class="row">
							<div class="col-sm-6">
								<label>Entity/Person Name</label>
								<input type="text" class="form-control" placeholder="Name" [value]="(fiscalEntity == null) ? '' : fiscalEntity.name" #entityname>
							</div>
							<div class="col-sm-2">
								<label>Percentage</label>	
								<input type="text" class="form-control" placeholder="Percentage" [value]="(fiscalEntity == null) ? '' : fiscalEntity['share'].percentage" #sharepercentage>
							</div>
							<div class="col-sm-4">
								<label>Share Type</label>
								<input type="text"  class="form-control" placeholder="Share type" [value]="(fiscalEntity == null) ? '' : fiscalEntity['share'].sharetype" #sharetype>
							</div>
							
							
						</div>
						<br>
						<div class="row">
							<div class="col-sm-4">
								<label>Share Date</label>
								<input type="date"  class="form-control" placeholder="Share Date" [value]="(fiscalEntity == null) ? '' : fiscalEntity['share'].sharedate" #sharedate>
							</div>	
							<div class="col-sm-8">
								<label>Observations</label>
								<textarea rows="4" cols="50" class="form-control" id="observations" placeholder="Observations" name="observations"> 
								</textarea>
							</div>
						</div>						
					<!--<div class="form-group">															
						<div class="row">
							<div class="col-sm-4">
								<label>Share Date</label>
								<input type="date"  class="form-control" placeholder="Share Date" [value]="(fiscalEntity['share'].sharedate == null) ? '' : fiscalEntity['share'].sharedate" #sharedate>
							</div>															
							<div class="col-sm-4">
								<label>Observations</label>
								<textarea rows="4" cols="50" class="form-control" id="observations" placeholder="Observations" name="observations" [(ngModel)]="fiscalEntity['share'].observations" #observations>
							</div>
						</div>-->
					</div>
				</div>
			</div>	
			
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveContactAddress(addressname.value, addressnumber.value, floordoor.value, postalcode.value, town.value, province.value, district.value, country.value, sendname.value, sendbusinessname.value, lat.value, lng.value)"><span class="glyphicon glyphicon-ok-sign"></span>Save</button>
			</div>
		</div>
	</div>
</div>	
<!--[(ngModel)]="fiscalEntity['share'].observations" #observations>-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
					 <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
					</div>
					<div class="modal-body"> 
						<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
					</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addaddress" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title custom_align" id="Heading">Update Fiscal Entity address</h4>
			</div>
			<div class="modal-body"> 
				<div class="form-group">
					<input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
				</div>
				<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
					<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
				</agm-map>
									  
				<div class="addressinfo">
					<div class="form-group">															
						<div class="row">
							<div class="col-sm-6">
								<br>
								<label>Address</label>
								<input type="text" class="form-control" placeholder="Address" [value]="(address.addressName == null) ? '' : address.addressName" #addressname>
							</div>
							<div class="col-sm-2">
								<br>
								<label>Nº</label>
								<input type="text" class="form-control" placeholder="N" [value]="(address.addressNumber == null) ? '' : address.addressNumber" #addressnumber>
							</div>
							<div class="col-sm-4">
								<br>
								<label>Floor - Door</label>
								<input type="text"  class="form-control" placeholder="Floor Door" [value]="(address.floorDoor == null) ? '' : address.floorDoor" #floordoor>
							</div>
						</div>
					</div>
											
					<div class="form-group">															
						<div class="row">
							<div class="col-sm-4">
								<label>Postal code</label>
								<input type="text"  class="form-control" placeholder="Postal code" [value]="(address.postalcode == null) ? '' : address.postalcode" #postalcode>
							</div>															
							<div class="col-sm-4">
								<label>Town</label>
								<input type="text"  class="form-control" placeholder="Town" [value]="(address.town == null) ? '' : address.town" #town>
							</div>
						</div>
					</div>

					<div class="form-group">															
						<div class="row">
							<div class="col-sm-4">
								<label>Province</label>
								<input type="text"  class="form-control" placeholder="Province" [value]="(address.province == null) ? '' : address.province" #province>
							</div>
							<div class="col-sm-4">
								<label>District / CCAA</label>
								<input type="text"  class="form-control" placeholder="District or CCAA" [value]="(address.district == null) ? '' : address.district" #district>
							</div>															
							<div class="col-sm-4">
								<label>Country</label>
								<input type="text"  class="form-control" placeholder="Country" [value]="(address.country == null) ? '' : address.country" #country>
							</div>
						</div>
					</div>
											
					<div class="form-group">															
						<div class="row">
							<div class="col-sm-4">
								<label>Send name</label>
								<input type="text"  class="form-control" placeholder="Send name" [value]="(address.sendName == null) ? '' : address.sendName"  #sendname disabled>
							</div>
							<div class="col-sm-4">
								<label>Send business name</label>
								<input type="text"  class="form-control" placeholder="Send business name" [value]="(address.sendBusinessName == null) ? '' : address.sendBusinessName" #sendbusinessname disabled> 
							</div>
						</div>
					</div>															

					<div class="form-group">															
						<div class="row">
							<div class="col-sm-4">
								<label>Latitude</label>
								<input type="text"  class="form-control" placeholder="Latitude" [value]="(address.latitude == null) ? '' : address.latitude" readonly #lat>
							</div>
							<div class="col-sm-4">
								<label>Longitude</label>
								<input type="text"  class="form-control" placeholder="Longitude" [value]="(address.longitude == null) ? '' : address.longitude" readonly #lng>
							</div>
						</div>
					</div>														
				</div>
			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveFiscalEntityAddress(addressname.value, addressnumber.value, floordoor.value, postalcode.value, town.value, province.value, district.value, country.value, sendname.value, sendbusinessname.value, lat.value, lng.value)"><span class="glyphicon glyphicon-ok-sign"></span>Save</button>
			</div>
		</div>
	</div>
</div>