<div class="container" *ngIf="showTableContacts">
 
  <table
    class="table table-hover"
    [mfData]="data | dataFilterContacto : filterQueryId : filterQueryName : filterQueryLastname1 : filterQueryLastname2 : filterQueryEmail"
    #mf="mfDataTable"
    [mfRowsOnPage]="rowsOnPage"
    [(mfSortBy)]="sortBy"
    [(mfSortOrder)]="sortOrder"
  >
    <thead>
    <tr>
      <th>
        <mfDefaultSorter by="idinternal">ID</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryId"/>
      </th>
      <th>
        <mfDefaultSorter by="firstname">Name</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryName"/>
      </th>
      <th>
        <mfDefaultSorter by="lastname1">Last name 1</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryLastname1"/>
      </th>
      <th>
        <mfDefaultSorter by="lastname2">Last name 2</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryLastname2"/>
      </th>
      <th>
        <mfDefaultSorter by="emailoffice">Email</mfDefaultSorter><input class="form-control" [(ngModel)]="filterQueryEmail"/>
      </th>
	  <th style="width: 10%">
	   <mfDefaultSorter by="delete"></mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.idinternal}}</td>
      <td>{{item.firstname}}</td>
      <td>{{item.lastname1}}</td>
      <td>{{item.lastname2}}</td>	  
      <td>{{item.emailoffice}}</td>
	  <td  style="text-align:center">
		<button style="margin-right: 15px;" class="btn btn-success btn-xs" ><span class="glyphicon glyphicon-pencil" (click)="showContactFunction(item.idinternal)"></span></button>
		<button style="margin-right: 15px;" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button>
	  </td>	  
    </tr>
    </tbody>
    <tfoot>
	<tr>
      <td colspan="12"  style="text-align:center">
        <!--<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addcontact"  >Add contact&nbsp;<span class="glyphicon glyphicon-user"></span></button>-->
		<button class="btn btn-primary btn-md" (click)="showContactFunction()">Add contact&nbsp;<span class="glyphicon glyphicon-user"></span></button>
      </td>
    </tr>	
    <tr>
      <td colspan="5">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>



<div class="container" *ngIf="showContact">
		<div class="content">			
			<div class="row" style="padding:10px;">
						   <div class="col-sm-12">
								<div class="row" style="padding:10px;">
									<div class="col-sm-4">
										<form>
											<div class="form-group">
												<img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="100%">
											</div>
											<div class="panel panel-default">
											  <div class="panel-heading">Centers</div>
											  <div class="panel-body">
													<table class="table table-hover">
														<thead>
														  <tr>
															<th>Name</th>
															<th>Position</th>
														  </tr>
														</thead>
														<tbody>
														  <tr *ngFor="let centers of contact['center_has_contact']; let i = index" (click)="goCenter(centers.center['code'])">
															<td>{{centers.center['franchisename']}}</td>
															<td>{{centers.contacttype}}</td>
														  </tr>
														  <!--<tr (click)="goCenter(2)">
															<td>Centro 2</td>
															<td>Director</td>
														  </tr>
														  <tr (click)="goCenter(3)">
															<td>Centro 3</td>
															<td>Administrador</td>
														  </tr>-->															  
														</tbody>
													 </table>															  
											  </div>
											</div>											
										</form>
									</div>
									<div class="col-sm-4">
										<form>
											<div class="form-group">
												<label>DNI / NIF:</label>
												<input type="text" class="form-control" id="dni" placeholder="DNI" name="dni" [(ngModel)]="contact.dninif">
											</div>
											<div class="form-group">
												<label>Firstname</label>
												<input type="text" class="form-control" id="firstname" placeholder="Firstname" name="firstname" [(ngModel)]="contact.firstname">
											</div>
											<div class="form-group">
												<label>Lastname 1</label>
												<input type="text" class="form-control" id="lastname1" placeholder="Lastname1" name="lastname1" [(ngModel)]="contact.lastname1">
											</div>
											<div class="form-group">
												<label>Lastname 2</label>
												<input type="text" class="form-control" id="lastname2" placeholder="Lastname2" name="lastname2" [(ngModel)]="contact.lastname2">
											</div>
											<div class="form-group">												
												<div class="row" style="padding:10px; padding-left: 0px">
													<div class="col-sm-6">
														<div class="form-group">									
															<label>Gender</label>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group contactcustomSlide0">									
															<input type="checkbox" value="" id="contactcustomSlide0" name="check" [checked]="(contact.gender == 'F') ? true : false" (change)="(contact.gender == 'F') ? (contact.gender = 'M') : (contact.gender = 'F')" #contactcustomSlide0 />
															<label for="contactcustomSlide0"></label>
														</div>
													</div>										
												</div>
											</div>
											<div class="form-group">
												<label>Birthdate</label>
												<input type="date" class="form-control" id="birthdate" name="birthdate" [ngModel]="contact.birthdate | date:'yyyy-MM-dd'" (ngModelChange)="contact.birthdate=$event">
											</div>
											<div class="form-group">
												<label>Address</label>
												<div class="row" style="padding-right:10px;">
												<div class="col-sm-8">
												<!--<input type="text" class="form-control" id="address" placeholder="Address" value="{{contact.address['addressName']}}" readonly >-->
												<textarea class="form-control" rows="5" id="comment" style="resize:vertical" [value]="(contact.address) ? (contact.address['addressName'] + ',' + contact.address['addressNumber'] + ',' + contact.address['floorDoor'] + '\n' + contact.address['postalcode'] + ',' + contact.address['town'] + ',' + contact.address['district'] + '\n' + contact.address['province'] + ' (' +  contact.address['country'] + ')') : ''" readonly></textarea>
												</div>
												<div class="col-sm-4">
												<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addaddress" (click)="resizeTrigger()">Address <span class="glyphicon glyphicon-globe"></span></button>
												</div>
												</div>
											</div>	
											<div class="form-group">
												<label>Communication language</label>
												<!--<input type="text" class="form-control" id="comlanguage" placeholder="Language" name="language" [(ngModel)]="contact.idlanguagecommunication"readonly>-->
												<select name="comlanguage" class="form-control" name="comlanguage" [(ngModel)]="contact.idlanguagecommunication" style="margin-top:5px">
												  <option *ngFor="let lang of languages" [ngValue]="lang.id">{{lang.name}}</option>
												</select>											
											</div>																		
										</form>
									</div>
									<div class="col-sm-4">
										<form>
											<div class="form-group">
												<label>Office telephone</label>
												<input type="text" class="form-control" id="offtelephone" placeholder="Office telephone" name="telephoneoffice" [(ngModel)]="contact.telephoneoffice">
											</div>
											<div class="form-group">
												<label>Personal telephone</label>
												<input type="text" class="form-control" id="pertelephone" placeholder="Personal telephone" name="telephonepersonal" [(ngModel)]="contact.telephonepersonal">
											</div>
											<div class="form-group">
												<label>Mobile</label>
												<input type="text" class="form-control" id="mobile" placeholder="Mobile" name="mobile" [(ngModel)]="contact.mobile">
											</div>
											<div class="form-group">
												<label>Skype</label>
												<input type="text" class="form-control" id="skype" placeholder="Skype" name="skype" [(ngModel)]="contact.skype">
											</div>
											<div class="form-group">
												<label>Office email</label>
												<input type="text" class="form-control" id="offemail" placeholder="Office email" name="emailoffice" [(ngModel)]="contact.emailoffice">
											</div>
											<div class="form-group">
												<label>Personal email</label>
												<input type="text" class="form-control" id="peremail" placeholder="Personal email" name="emailpersonal" [(ngModel)]="contact.emailpersonal">
											</div>
											<div class="form-group">
												<label>Observations</label>
												<input type="text" class="form-control" id="observations" placeholder="Observations" name="observations" [(ngModel)]="contact.observations">
											</div>	
											<div class="form-group">
												<label>ALEX user</label>
												<input type="text" class="form-control" id="alexuser" placeholder="ALEXuser" name="alexuser" [(ngModel)]="contact.alexuser">
											</div>
											<div class="form-group">
												<label>Clothing size</label>
												<input type="text" class="form-control" id="clothingsize" placeholder="Clothing size" name="clothingsize" [(ngModel)]="contact.clothingsize">
											</div>																		
										</form>
									</div>															
								</div>
						   </div>												   
			</div>	
				<button class="btn btn-success btn-lg" (click)="saveContact(contact.idinternal)">Save contact&nbsp;<span class="glyphicon glyphicon-save"></span></button>			
		</div>
</div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			  <div class="modal-dialog">
					<div class="modal-content">
								 <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
								</div>
								<div class="modal-body"> 
									<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
								</div>
								<div class="modal-footer ">
									<button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
									<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
								</div>
					</div>
			</div>
	</div>

	<!--<div class="modal fade" id="addcontact" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
					<div class="modal-content">
								 <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title custom_align" id="Heading">New contact</h4>
								</div>
								<div class="modal-body"> 
									<div class="row">
										<div class="col-sm-6">
											<form>
												<div class="form-group">
													<label>Contact image:</label>
													<input type="file" name="pic" accept="image/*" style="padding-bottom:14px;">
												</div>
												<div class="form-group">
													<label>DNI / NIF:</label>
													<input type="text" class="form-control" id="" placeholder="DNI">
												</div>
												<div class="form-group">
													<label>Nombre</label>
													<input type="text" class="form-control" id="" placeholder="Nombre">
												</div>
												<div class="form-group">
													<label>Apellido1</label>
													<input type="text" class="form-control" id="" placeholder="Apellido1">
												</div>
												<div class="form-group">
													<label>Apellido2</label>
													<input type="text" class="form-control" id="" placeholder="Apellido2">
												</div>
												<div class="form-group">
													<label>Sexo</label>
													<input type="text" class="form-control" id="" placeholder="Nombre">
												</div>
												<div class="form-group">
													<label>Fecha nacimiento</label>
													<input type="date" class="form-control" id="" placeholder="Fecha nacimiento">
												</div>
												<div class="form-group">
													<label>Address</label>
													<div class="row" style="padding-right:10px;">
													<div class="col-sm-8">
													<!--<input type="text" class="form-control" id="address" placeholder="Address" value="{{contact.address['addressName']}}" readonly >-->
													<!--<textarea class="form-control" rows="5" id="comment" style="resize:vertical" value="" readonly></textarea>
													</div>
													<div class="col-sm-4">
													<button class="btn btn-primary btn-md" data-toggle="modal" data-target="#addaddress" (click)="resizeTrigger()">Select<span class="glyphicon glyphicon-globe"></span></button>
													</div>
													</div>
												</div>
												<div class="form-group">
													<label>Idioma comunicación</label>
													<input type="text" class="form-control" id="" placeholder="Idioma comunicación">
												</div>																		
											</form>
										</div>
										<div class="col-sm-6">
											<form>
												<div class="form-group">
													<label>Tel. Oficina:</label>
													<input type="number" class="form-control" id="" placeholder="Tel. Oficina">
												</div>
												<div class="form-group">
													<label>Tel. Personal</label>
													<input type="number" class="form-control" id="" placeholder="Tel. Personal">
												</div>
												<div class="form-group">
													<label>Móvil</label>
													<input type="number" class="form-control" id="" placeholder="Móvil">
												</div>
												<div class="form-group">
													<label>Skype</label>
													<input type="text" class="form-control" id="" placeholder="Skype">
												</div>
												<div class="form-group">
													<label>Email oficina</label>
													<input type="text" class="form-control" id="" placeholder="Email oficina">
												</div>
												<div class="form-group">
													<label>Email personal</label>
													<input type="text" class="form-control" id="" placeholder="Email personal">
												</div>
												<div class="form-group">
													<label>Observaciones</label>
													<input type="text" class="form-control" id="" placeholder="Observaciones">
												</div>	
												<div class="form-group">
													<label>Usuario ALEX</label>
													<input type="text" class="form-control" id="" placeholder="Usuario ALEX">
												</div>
												<div class="form-group">
													<label>Talla camiseta</label>
													<input type="text" class="form-control" id="" placeholder="Talla camiseta">
												</div>																		
											</form>
										</div>
									</div>	
								</div>
								<div class="modal-footer ">
									<button type="button" class="btn btn-success" (click)="addContactFunction()"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Save</button>
								</div>
					</div>
			</div>
	</div>-->
	
	
	<div class="modal fade" id="addaddress" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			  <div class="modal-dialog">
					<div class="modal-content">
								 <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title custom_align" id="Heading">Update contact address</h4>
								</div>
								<div class="modal-body"> 
												  <div class="form-group">
													<input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
												  </div>
												  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
													<agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
												  </agm-map>
												  
													<div class="addressinfo">
														<div class="form-group">															
															<div class="row">
																<div class="col-sm-6">
																	<label>Address</label>
																	<input type="text" class="form-control" placeholder="Address" [value]="(address.addressName == null) ? '' : address.addressName" #addressname>
																</div>
																<div class="col-sm-2">
																	<label>Nº</label>
																	<input type="text" class="form-control" placeholder="N" [value]="(address.addressNumber == null) ? '' : address.addressNumber" #addressnumber>
																</div>
																<div class="col-sm-4">
																	<label>Floor - Door</label>
																	<input type="text"  class="form-control" placeholder="Floor Door" [value]="(address.floorDoor == null) ? '' : address.floorDoor" #floordoor>
																</div>
															</div>
														</div>
														
														<div class="form-group">															
															<div class="row">
																<div class="col-sm-4">
																	<label>Postal code</label>
																	<input type="text"  class="form-control" placeholder="Postal code" [value]="(address.postalcode == null) ? '' : address.postalcode" #postalcode>
																</div>															
																<div class="col-sm-4">
																	<label>Town</label>
																	<input type="text"  class="form-control" placeholder="Town" [value]="(address.town == null) ? '' : address.town" #town>
																</div>
															</div>
														</div>

														<div class="form-group">															
															<div class="row">
																<div class="col-sm-4">
																	<label>Province</label>
																	<input type="text"  class="form-control" placeholder="Province" [value]="(address.province == null) ? '' : address.province" #province>
																</div>
																<div class="col-sm-4">
																	<label>District / CCAA</label>
																	<input type="text"  class="form-control" placeholder="District or CCAA" [value]="(address.district == null) ? '' : address.district" #district>
																</div>															
																<div class="col-sm-4">
																	<label>Country</label>
																	<input type="text"  class="form-control" placeholder="Country" [value]="(address.country == null) ? '' : address.country" #country>
																</div>
															</div>
														</div>
														
														<div class="form-group">															
															<div class="row">
																<div class="col-sm-4">
																	<label>Send name</label>
																	<input type="text"  class="form-control" placeholder="Send name" [value]="(address.sendName == null) ? '' : address.sendName"  #sendname disabled>
																</div>
																<div class="col-sm-4">
																	<label>Send business name</label>
																	<input type="text"  class="form-control" placeholder="Send business name" [value]="(address.sendBusinessName == null) ? '' : address.sendBusinessName" #sendbusinessname disabled> 
																</div>
															</div>
														</div>															

														<div class="form-group">															
															<div class="row">
																<div class="col-sm-4">
																	<label>Latitude</label>
																	<input type="text"  class="form-control" placeholder="Latitude" [value]="(address.latitude == null) ? '' : address.latitude" readonly #lat>
																</div>
																<div class="col-sm-4">
																	<label>Longitude</label>
																	<input type="text"  class="form-control" placeholder="Longitude" [value]="(address.longitude == null) ? '' : address.longitude" readonly #lng>
																</div>
															</div>
														</div>														
													
													</div>
								</div>
								<div class="modal-footer ">
									<button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveContactAddress(addressname.value, addressnumber.value, floordoor.value, postalcode.value, town.value, province.value, district.value, country.value, sendname.value, sendbusinessname.value, lat.value, lng.value)"><span class="glyphicon glyphicon-ok-sign"></span>Save</button>
								</div>
					</div>
			</div>
	</div>